<!-- sidebar -->
<%= render 'admin/sidebar' %>

<!-- table -->

<div class="row">
  <div class="col-md-10 offset-md-2 mb-4">
    <div class="card">
      <h5 class="card-header">部署登録</h5>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">社員CD</th>
                <th scope="col">ユーザー名</th>
                <th scope="col">所属部署</th>
                <th scope="col">評価者区分</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">111</th>
                <td>田中太郎</td>
                <td>システム部</td>
                <td>1次評価者</td>
                <td><a href="#" class="btn btn-sm btn-primary">編集</a></td>
                <td><a href="#" class="btn btn-sm btn-danger">削除</a></td>
              </tr>
              <tr>
                <th scope="row">112</th>
                <td>田中太郎</td>
                <td>システム部</td>
                <td>1次評価者</td>
                <td><a href="#" class="btn btn-sm btn-primary">編集</a></td>
                <td><a href="#" class="btn btn-sm btn-danger">削除</a></td>
              </tr>
              <tr>
                <th scope="row">113</th>
                <td>田中太郎</td>
                <td>システム部</td>
                <td>1次評価者</td>
                <td><a href="#" class="btn btn-sm btn-primary">編集</a></td>
                <td><a href="#" class="btn btn-sm btn-danger">削除</a></td>
              </tr>
              <tr>
                <th scope="row">114</th>
                <td>田中太郎</td>
                <td>システム部</td>
                <td>1次評価者</td>
                <td><a href="#" class="btn btn-sm btn-primary">編集</a></td>
                <td><a href="#" class="btn btn-sm btn-danger">削除</a></td>
              </tr>
              <tr>
                <th scope="row">115</th>
                <td>田中太郎</td>
                <td>システム部</td>
                <td>1次評価者</td>
                <td><a href="#" class="btn btn-sm btn-primary">編集</a></td>
                <td><a href="#" class="btn btn-sm btn-danger">削除</a></td>
              <tr>
                <th scope="row">116</th>
                <td>田中太郎</td>
                <td>システム部</td>
                <td>1次評価者</td>
                <td><a href="#" class="btn btn-sm btn-primary">編集</a></td>
                <td><a href="#" class="btn btn-sm btn-danger">削除</a></td>
              </tr>
            </tbody>
          </table>
        </div>
          <a href="/admin/departments/new" class="btn btn-block btn-light">新規作成</a>
      </div>
    </div>
  </div>
</div>
