<div class="container-fluid">
  <div class="row">
      <nav id="sidebar" class="col-md-2 d-md-block bg-light sidebar collapse">
        <div class="pt-5">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/admin/users">
                <span class="ml-2">ユーザー登録</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/evaluators">
                <span class="ml-2">評価者区分登録</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/departments">
                <span class="ml-2">部署登録</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/tsk_values">
                <span class="ml-2">TSKValue登録</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/evaluator_progresses">
                <span class="ml-2">評価者進捗区分登録</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/awards">
                <span class="ml-2">賞区分登録</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/calendars">
                <span class="ml-2">カレンダー作成</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/effect_amounts">
                <span class="ml-2">効果金額作成</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
  </div>
</div>