// reports.scss
$primary: #004A98;
$info: #A3C4ED;
$danger: #EA5B3C;
$warning: #F8BDB0;

@import "bootstrap";

.square {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #D6D1CA;
}

.custom-shadow {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5); /* 影のオフセット、ぼかしの範囲、色と不透明度を調整 */
}

.bg-light-green {
  background: #74BC1E;
}

.bg-off-white {
  background: #D6D1CA;
}

.small-text {
  font-size: 2.5vw;
}

.responsive-text {
  font-size: 4.5vw; /* ビューポートの幅の1.5%として文字サイズを設定 */
}

