// reports.scss
$primary: #004A98;
$info: #A3C4ED;
$danger: #EA5B3C;
$warning: #F8BDB0;

@import "bootstrap";

.bg-light-grey {
  background: #D6D1CA;
}

.square {
  aspect-ratio: 1/1;
}

.custom-shadow {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5); /* 影のオフセット、ぼかしの範囲、色と不透明度を調整 */
}

.bg-light-green {
  background: #74BC1E;
}

.bg-off-white {
  background: #D6D1CA;
}

.small-text {
  font-size: 2.0vw;
}

.responsive-text {
  font-size: 4.5vw;
}

/* lgサイズ以上でテキストサイズを小さくする */
@media (min-width: 992px) { /* Bootstrapのlgサイズのブレークポイント */
  .responsive-text {
    font-size: 2vw; /* または具体的なpx単位でサイズを指定 */
  }
}


.img-vw {
  width: 23vw;
  height: auto; /* 画像のアスペクト比を維持する */
}

/* lgサイズ以上で画像サイズを小さくする */
@media (min-width: 992px) { /* Bootstrapのlgサイズのブレークポイント */
  .img-vw {
    width: 15vw; /* lgサイズ以上での画像の幅を小さく設定 */
    height: auto; /* アスペクト比を維持 */
  }
}

.carousel-img {
  height: 300px; /* または任意の高さ */
  object-fit: contain;
  width: 100%;
}

.carousel-inner {
  height: 300px;
}