<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>TskKaizenApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= wicked_pdf_stylesheet_link_tag "application" %>

    <style>
      body {
        font-family: 'NotoSansJP', sans-serif;
      }
    </style>
  </head>

  <body style="background-color: #f2f1ef; padding: 0 1rem;">
    <%= yield %>
  </body>
</html>